#container {
    display: flex;
    flex-direction: row;
}

.item {
    margin-right: 100px;
}

#next-match {
    font-weight: 600;
    margin-bottom: 10px;
}

#guess-header {
    font-weight: 600;
    margin-bottom: 5px;
}

h3 {
    margin-top: 0;
}